// shared
NODE_ENV=
PORT=5000

// development
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USER=
MAILTRAP_PASS=
DATABASE_LOCAL=

// production
DATABASE=
JWT_SECRET=
JWT_EXPIRES_IN=
MAIL_USERNAME=
MAIL_PASSWORD=
