style.
  body {
    background-color: #F9FAFB;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  .container {
    background-color: #F9FAFB;
    padding: 2.5rem;
  }
  .card {
    max-width: 28rem;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 3rem;
  }
  .card-img {
    display: flex;
    align-items: center
  }
  .logo {
    width: 2rem;
    height: 2rem;
  }
  .logo-title {
    color: #00e676;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
  }
  .card-title {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #111827;
    font-weight: 700;
  }
  .card-subtitle {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: block;
    color: #4B5563
  }
  .card-otp {
    margin-top: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    color: #111827;
  }
  .card-footer {
    margin-top: 0.75rem;
    display: inline-block;
    color: #374151
  }
  @media only screen and (max-width: 620px) {
    .container {
      padding: 1rem;
      min-height: auto;
      background-color: #fff
    }
    body {
      background-color: #fff
    }
    .card {
      padding: 1rem
    }
  }
